@import './reset.css';
@import url("https://use.typekit.net/efs6zmc.css");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #b8c9cc;
}

.app {
  font-family: interstate-condensed, sans-serif;
  background-color: #b8c9cc;
  padding: 20px 0;
}

.app-header {
  width: 100%;
  position: fixed;
  display: block;
  background-color: #b8c9cc;
  top: 0;

}

.hide-desktop {
  display: none;
}


@media screen and (max-width: 850px) {
  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .app-header {
    background: white;
    padding: 20px 0 10px 0;
  }

  .app {
    padding-top: 0;
    font-size: 16px !important;
  }
}