@import './reset.css';
@import url("https://use.typekit.net/efs6zmc.css");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #E0C5AD;;
}

.app {
  font-family: 'interstate-condensed', sans-serif;
  background-color: #E0C5AD;;
  padding: 20px 0;
}

.app-header {
  width: 100%;
  display: block;
  background-color: #E0C5AD;;
}

.app-header.home {
  position: absolute;
  bottom: 70px;
  right: 0;
}

.hide-desktop {
  display: none;
}

@media screen and (max-width: 850px) {
  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .app-header {
    background: white;
    position: fixed;
    z-index: 10;
  }

  .app {
    padding-top: 0;
    font-size: 16px !important;
  }

  .app-body {
    padding-top: 70px;
  }
}